@model dynamic

@{
    ViewBag.Title = "title";
}


<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            Geef de key:
            @using (@Html.BeginForm())
            {
                @Html.TextBox("uniqueKey");
            }
        </div>
    </body>
</html>